# Entornos virtuales
venv/
env/
.venv/

# Archivos compilados de Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Variables de entorno
.env

# Base de datos local
*.db
*.sqlite3

# Logs del sistema
sistema.log [cite: 12]
*.log

# Archivos del sistema operativo y editores de código
.DS_Store
Thumbs.db
.vscode/
.idea/